{% extends "layout.html" %}
{% block content %}
<h1> Admin/Officials Page: </h1>
<!-- Potential to make the above change depending on session token, so display admin or official depending on their status 
	For each of the buttons, will only generate depending on the users privileges-->
<center><button> <a class="" >View Results</a></button></center><br>
<center><button> <a class="" >Add Election</a></button></center><br>
<center><button> <a class="" >Edit Election</a></button></center><br><br><br>
<center><button> <a class="" >Log Out</a></button></center>
{% endblock content %}