<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	<title>{{ title }}</title>
</head>

<body>

	<h1>Online Voting System</h1>
	
	<div id="content">
		{% block content %}
		{% endblock content %}
	</div>

	<div class="flash">
	{% with messages = get_flashed_messages() %}
	{% if messages %}
		<ul class=flashes>
			{% for message in messages %}
				<li>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
	</div>
</body>
</html>
