{% extends "layout.html" %}
{% block content %}
<br>
<center><button> <a class="" href="/register">Click Here to Register</a></button>
<h1> Login: </h1>
<form action="" method="POST">
  {{ form.csrf_token }}
  <section class="">
    {{ form.email.label }} {{ form.email }}
    {% for error in form.email.errors %}
      <span style="color: blue;">[{{ error }}]</span>
    {% endfor %}
  </section>
  <br>
  <section class="">
    {{ form.password.label }} {{ form.password }}
    {% for error in form.password.errors %}
      <span style="color: blue;">[{{ error }}]</span>
    {% endfor %}
  </section>
  <br>
  <!--
  <div class="">
    <span title="This is a basic anti-spam bot feature. The bot will see the field name is called 'useremail' and therefore will fill this in with an email, which will then cause the login not to proceed as the field needs to be blank."> {{ form.useremail.label }} </span>
    <span title="This is a basic anti-spam bot feature. The bot will see the field name is called 'useremail' and therefore will fill this in with an email, which will then cause the login not to proceed as the field needs to be blank.">{{ form.useremail}}</span>
    {% for error in form.useremail.errors %}
     Look at making this hidden potentially? 
    <span style="color: blue;">[{{ error }}]</span>
    {% endfor %}
  <br>
  <br>
  -->
  <section class="">
    {{ form.submit() }}
  </section>
</form>
<br>
<center><button> <a class="" href="/admin">Admin Login</a></button></center>
<br><br>
<center><button> <a class="" href="/official">Official Login</a></button></center>
<br>
<h1> Hover over for more information</h1>
<p>click <a href="/index">HERE</a> to return to the homepage</p>

{% endblock content %}
