{% extends "layout.html" %}
{% block content %}
	<!-- code to read in and display the candidates you can vote for -->
  <div class="vote-container">
    <form class="" action="index.html" method="post">
      {% for Name in politicalparty| sort(attribute='Name') %}
      <div class="vote">
          <input type="radio" name="" value="{{ politicalparty.name }}">{{ politicalparty.name }}<<br>
      </div>
      {% endfor %}
      <section class="">
        {{ form.submit() }}
      </section>
    </form>
</div>
{% endblock content %}
