{% extends "layout.html" %}
{% block content %}

{% if current_user.is_authenticated %}
<p>Would you like to create an election or view results?</p>
<button><a class="" href="{{ url_for('index') }}">Create Election</a></button>
<button><a class="" href="{{ url_for('index') }}">View Results</a></button>
{% else %}
<p>To access Officials features, please register or sign in below</p>
<button><a class="" href="{{ url_for('register') }}">Register</a></button>
<button><a class="" href="{{ url_for('login') }}">Sign In</a></button>
{% endif %}

{% endblock content %}
